/* Font Family from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f6f3;
}

.App {
  text-align: center;
}
